@using IncidentReporter.Shared

<div class="form-group">
    <label for="action-timestamp_@i">Timestamp</label>
    <input type="datetime" id="action-timestamp_@i" bind="@ActionsTaken[i].Timestamp" class="form-control" />
</div>
<div class="form-group">
    <label for="action-description_@i">Description</label>
    <input type="text" id="action-description_@i" bind="@ActionsTaken[i].Description" class="form-control" />
</div>

@functions {
    [Parameter]
    private List<ActionTaken> ActionsTaken { get; set; }

    [Parameter]
    private int Index { get; set; }

    private int i;

    protected override void OnInit()
    {
        i = Index;
    }
}